.container {
    display:flex;
    width: 100%;
    height: 500px;
    background-color: rgb(241, 170, 148);
    align-items: center;
    justify-content: center;
}
.wrapper {
    display: flex;
    flex-direction: row;
}

.pertama{
    width: 250px;
    height: 250px;
    background-color: rgb(134, 172, 223);
    border: 3px solid;
}


.kedua{
    width: 250px;
    height:250px;
    background-color: rgb(235, 154, 154);
    border: 3px solid;
}

.ketiga{
    width: 250px;
    height: 250px;;
    background-color: rgb(226, 207, 125);
    border: 3px solid;

}
    
.keempat{
    width: 250px;
    height: 250px;
    background-color: rgb(104, 240, 229);
    border: 3px solid;
}