#container1 {
    width: 100vw;
    height: 400px;
    background-color: rgb(235, 150, 150);
    display: flex;
    justify-content: space-around;
    align-items: center;
   
    
}
#wrapper1{
    display: flex;
    flex-direction: row;
    background: rgb(235, 150, 150);
    border-radius: 20px;
    gap: 100px;
}


#box1:hover{
    background-color: rgb(226, 218, 209);
    transform: scale(1.05);
}
#box1{
    box-shadow: 5px 10px;
    width: 15vw;
    height: 50vh;
    border: 1px solid;
    background-color:  rgb(255, 243, 243);
    border-radius: 20px;
    text-align: center;
    font-size: 13px;
    transition: all 0.3s ease;
}
#box2:hover{
    background-color: rgb(226, 218, 209);
    transform: scale(1.05);
}
#box2{
     box-shadow: 5px 10px;
   width: 15vw;
    height: 50vh;
    border: 1px solid;
    background-color: rgb(255, 243, 243);
    border-radius: 20px;
    text-align: center;
    font-size: 13px;
    transition: all 0.3s ease;
}
#box3:hover{
    background-color: rgb(226, 218, 209);
    transform: scale(1.05);
}
#box3{
     box-shadow: 5px 10px;
    width: 15vw;
    height: 50vh;
    border: 1px solid;
    background-color:  rgb(255, 243, 243);
    border-radius: 20px;
    text-align: center;
    font-size: 13px;
    transition: all 0.3s ease;

}
#box4:hover{
    background-color: rgb(226, 218, 209);
    transform: scale(1.05);
}
#box4{
     box-shadow: 5px 10px;
   width: 15vw;
    height: 50vh;
    border: 1px solid;
    background-color:  rgb(255, 243, 243);
    border-radius: 20px;
    text-align: center;
    font-size: 13px;
    transition: all 0.3s ease;
}

#container2{
    display: flex;
    width: 100vw;
    height: 400px;
    background-color: rgb(238, 243, 188);
    justify-content: center;
    align-items: center;
}
#wrapper2{
    display: flex;
    flex-direction: row;
   justify-content: center;
    gap: 100px;
     background: linear-gradient rgb(238, 243, 188);
}
#box5:hover{
    background-color: rgb(226, 218, 209);
    transform: scale(1.05);
}
#box5{
     box-shadow: 5px 10px;
   width: 15vw;
    height: 50vh;
    border: 1px solid;
    background-color:  rgb(255, 243, 243);
    border-radius: 20px;
    text-align: center;
    font-size: 13px;
    transition: all 0.3s ease;
}
#box6:hover{
    background-color: rgb(226, 218, 209);
    transform: scale(1.05);
}
#box6{
     box-shadow: 5px 10px;
   width: 15vw;
    height: 50vh;
    border: 1px solid;
    background-color:  rgb(255, 243, 243);
    border-radius: 20px;
    text-align: center;
    font-size: 13px;
    transition: all 0.3s ease;
}
#box7:hover{
    background-color: rgb(226, 218, 209);
    transform: scale(1.05);
}
 #box7{
     box-shadow: 5px 10px;
   width: 15vw;
    height: 50vh;
    border: 1px solid;
    background-color:  rgb(255, 243, 243);
    border-radius: 20px;
    text-align: center;
    font-size: 13px;
    transition: all 0.3s ease;
}
 #box8:hover{
    background-color: rgb(226, 218, 209);
    transform: scale(1.05);
}
 #box8{
     box-shadow: 5px 10px;
   width: 15vw;
    height: 50vh;
    border: 1px solid;
    background-color:  rgb(255, 243, 243);
    text-align:center ;
    border-radius: 20px;
    font-size: 13px;
    transition: all 0.3s ease;

 }
 #container3 {
    width: 100vw;
    height: 400px;
    background-color: rgb(235, 150, 150);
    display: flex;
    justify-content: space-around;
    align-items: center;
    
    
}
#wrapper3{
    display: flex;
    flex-direction: row;
    background: rgb(235, 150, 150);
    border-radius: 20px;
    gap: 100px;
}
#box9:hover{
    background-color: rgb(226, 218, 209);
    transform: scale(1.05);
}
 #box9{
     box-shadow: 5px 10px;
    width: 15vw;
    height: 50vh;
    border: 1px solid;
    background-color:  rgb(255, 243, 243);
    text-align: center;
    border-radius: 20px;
    font-size: 10px;
    transition: all 0.3s ease;
 }
 #box10:hover{
    background-color: rgb(226, 218, 209);
    transform: scale(1.05);
}
  #box10{
     box-shadow: 5px 10px;
    width: 15vw;
    height: 50vh;
    border: 1px solid;
    background-color:  rgb(255, 243, 243);
    text-align: center;
    border-radius: 20px;
    font-size: 10px;
    transition: all 0.3s ease;
 }
 #box11:hover{
    background-color: rgb(226, 218, 209);
    transform: scale(1.05);
}
 #box11{
     box-shadow: 5px 10px;
    width: 15vw;
    height: 50vh;
    border: 1px solid;
    background-color:  rgb(255, 243, 243);
    text-align: center;
    border-radius: 20px;
    font-size: 10px;
    transition: all 0.3s ease;
 }
img {
    border-radius: 50%;
    width: 100px;
    height: 100px;
 }
 #button1{
    width: 160px;
    height: 20px;
    border-radius: 20px;
    color: rgb(224, 101, 101);

 }
 #button2{
    width: 100px;
    height: 25px;
    border-radius: 20px;
    color: black;
 }
.box button:hover {
    background-color: rgb(255, 189, 176);
}
button:haver{
    transform: scale(1.1);
}

