/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body {
    font-family: 'arial',
    sans-serif;
}
/* Navbar atyles */
.navbar {
    background-color: rgb(252, 185, 185);
    color: rgb(0, 0, 0);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2px 2px;
}
.navbar-logo {
    font-size: 24px;
    font-weight: bold;
}
.navbar-links {
    list-style: none;
    display: flex;
}
.navbar-links li {
margin-left: 20px;
}
.navbar-links a {
    color:rgb(0, 0, 0);
    text-decoration: none;
    font-size: 18px
}
.navbar-links a:hover {
    color:rgb(255, 255, 255);
}
/* Mobil Menu Toggle */
.navbar-checkbox {
    display: none;
}
.navbar-toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
}
/* Content styles */
.content {
    padding: 20px;
    flex-grow: 1;
}
/* Responsive Design */
@media (max-width: 768px) {
.navbar-links {
    display: none;
    flex-direction: column;
    width: 100%;
}
}
.navbar-links li {
    margin: 10px 0;
}
.navbar-toggle {
    display: flex;
}
.navbar-checkbox:checked
+ .navbar-toggle + 
.navbar-links {
    display: flex;
}
#container1 {
    width: 100vw;
    height: 500px;
    background-color: rgb(235, 150, 150);
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#wrapper1{
    display: flex;
    flex-direction: row;
    background: rgb(235, 150, 150);
    border-radius: 20px;
    gap: 100px;
}
#box1{
    box-shadow: 5px 10px rgb(168, 164, 164);
    width: 15vw;
    height: 50vh;
    border: 1px solid;
    background-color:  rgb(255, 243, 243);
    border-radius: 20px;
    text-align: center;
    font-size: 13px;
    transition: all 0.3s ease;
}
#box2{
     box-shadow: 5px 10px rgb(175, 171, 171);
   width: 15vw;
    height: 50vh;
    border: 1px solid;
    background-color: rgb(255, 243, 243);
    border-radius: 20px;
    text-align: center;
    font-size: 13px;
    transition: all 0.3s ease;
}
#box3{
     box-shadow: 5px 10px rgb(196, 194, 190);
    width: 15vw;
    height: 50vh;
    border: 1px solid;
    background-color:  rgb(255, 243, 243);
    border-radius: 20px;
    text-align: center;
    font-size: 13px;
    transition: all 0.3s ease;

}
#box4{
     box-shadow: 5px 10px rgb(206, 198, 198);
   width: 15vw;
    height: 50vh;
    border: 1px solid;
    background-color:  rgb(255, 243, 243);
    border-radius: 20px;
    text-align: center;
    font-size: 13px;
    transition: all 0.3s ease;
}
#box1:hover{
    background-color: beige;
    transform: scale(1.05);
}
#box2:hover{
    background-color: beige;
    transform: scale(1.05);
}
#box3:hover{
    background-color: beige;
    transform: scale(1.05);
}
#box4:hover{
    background-color: beige;
    transform: scale(1.05);
}
#container2{
    display: flex;
    width: 100%;
    height: 500px;
    background-color: rgb(238, 243, 188);
    justify-content: space-around;
    align-items: center;
    font-size: 13px;
}
#wrapper2{
    display: flex;
    flex-direction: row;
    gap: 100px;
    border-radius: 20px;
}
#box5:hover{
    background-color: rgb(226, 218, 209);
    transform: scale(1.05);
}
#box5{
     box-shadow: 5px 10px;
   width: 15vw;
    height: 50vh;
    border: 1px solid;
    background-color:  rgb(255, 243, 243);
    border-radius: 20px;
    text-align: center;
    font-size: 13px;
    transition: all 0.3s ease;
}
#box6:hover{
    background-color: rgb(226, 218, 209);
    transform: scale(1.05);
}
#box6{
     box-shadow: 5px 10px;
   width: 15vw;
    height: 50vh;
    border: 1px solid;
    background-color:  rgb(255, 243, 243);
    border-radius: 20px;
    text-align: center;
    font-size: 13px;
    transition: all 0.3s ease;
}
#box7:hover{
    background-color: rgb(226, 218, 209);
    transform: scale(1.05);
}
 #box7{
     box-shadow: 5px 10px;
   width: 15vw;
    height: 50vh;
    border: 1px solid;
    background-color:  rgb(255, 243, 243);
    border-radius: 20px;
    text-align: center;
    font-size: 13px;
    transition: all 0.3s ease;
}
 #box8:hover{
    background-color: rgb(226, 218, 209);
    transform: scale(1.05);
}
 #box8{
     box-shadow: 5px 10px;
   width: 15vw;
    height: 50vh;
    border: 1px solid;
    background-color:  rgb(255, 243, 243);
    text-align:center ;
    border-radius: 20px;
    font-size: 13px;
    transition: all 0.3s ease;

 }
 #container3 {
    width: 100vw;
    height: 400px;
    background-color: rgb(235, 150, 150);
    display: flex;
    justify-content: space-around;
    align-items: center;
    
    
}
#wrapper3{
    display: flex;
    flex-direction: row;
    background: rgb(235, 150, 150);
    border-radius: 20px;
    gap: 100px;
}
#box9:hover{
    background-color: rgb(226, 218, 209);
    transform: scale(1.05);
}
 #box9{
     box-shadow: 5px 10px;
    width: 15vw;
    height: 50vh;
    border: 1px solid;
    background-color:  rgb(255, 243, 243);
    text-align: center;
    border-radius: 20px;
    font-size: 10px;
    transition: all 0.3s ease;
 }
 #box10:hover{
    background-color: rgb(226, 218, 209);
    transform: scale(1.05);
}
  #box10{
     box-shadow: 5px 10px;
    width: 15vw;
    height: 50vh;
    border: 1px solid;
    background-color:  rgb(255, 243, 243);
    text-align: center;
    border-radius: 20px;
    font-size: 10px;
    transition: all 0.3s ease;
 }
 #box11:hover{
    background-color: rgb(226, 218, 209);
    transform: scale(1.05);
}
 #box11{
     box-shadow: 5px 10px;
    width: 15vw;
    height: 50vh;
    border: 1px solid;
    background-color:  rgb(255, 243, 243);
    text-align: center;
    border-radius: 20px;
    font-size: 10px;
    transition: all 0.3s ease;
 }
img {
    border-radius: 50%;
    width: 100px;
    height: 100px;
 }
 #button1{
    width: 160px;
    height: 20px;
    border-radius: 20px;
    color: rgb(224, 101, 101);

 }
 #button2{
    width: 100px;
    height: 25px;
    border-radius: 20px;
    color: black;
 }
.box button:hover {
    background-color: rgb(255, 189, 176);
}
button:haver{
    transform: scale(1.1);
}
body {
font-family: Arial, sans-serif;
margin: 0;
padding: 0;
}
footer {
    background-color: aliceblue;
    color: blue;
    padding: 40px 0;
    text-align: left;
}
.footer-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 0 20x;
    max-width: 120px;
    margin: 0 auto;
}
.footer-column {
    flex: 1;
    min-width: 200px;
    margin: 20px;
}
.footer-column h4 {
    margin-bottom: 20px;
    font-size: 18px;
    text-transform: uppercase;
}

.footer-column ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.footer-column ul li {
    margin-bottom: 10px;
}
.footer-column ul li a {
    color: aliceblue;
    text-decoration: none;
    transition: color 0.3s ease;
}
.footer-column ul li a:hover {
    color: aliceblue;
}
.footer-column .social-icons a {
    display: inline-block;
    margin-right: 10px;
    transition: transform 0.3s ease;
}
.footer-column .social-icons a img {
    width: 24px;
    height: 24px;
}
.footer-column .social-icons a:hover {
    transform: scale(1.1);
}
.footer-bottom {
    background-color: antiquewhite;
    color: aqua;
    padding: 10px 0;
    margin-top: 20px;
    text-align: center;
}
.navbar2 {
     background-color: rgb(255, 183, 183);
    color: rgb(0, 0, 0);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2px 2px;
}
